@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

main{
    overflow: visible;
}

.texto{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 50%;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}
.texto > h2{
    font-family: "Jersey 15", serif;
    color: gray;
    font-size: 15vw;
    text-transform: uppercase;
    word-spacing: 5vw;
    letter-spacing: 2vw;
    /* position: relative; */
}

.mantor-name-text{
   top: 25%;
}
.about-last-container{
    min-height: 100vh;
    position: relative;
}

.about-container{
    height: auto;
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: 20px 20px 50px gray;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;
    padding: 1rem;
    gap: 10px;
    position: absolute;
    z-index: 1;
}
.about-container > .about-image-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container > .about-image-container > .disc{
    width: 15%;
    aspect-ratio: 1;
    background-color: white;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: -2%;
    box-shadow: 0 0 50px black;
    z-index: 1;
}
.about-container > .about-image-container > .disc > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.about-container > .about-image-container > img:nth-child(2){
    width: 90%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 50px gray;
    transition: transform 600ms ease;
    z-index: 0;
}
.about-container > .about-image-container > img:nth-child(2):hover{
    transform: scale(1.05);
}

.about-container > .about-image-container > #shape{
    position: absolute;
    z-index: 1;
    top: 5%;
    right: -1%;
}

.about-container > .about-info-container{
    padding-block: 10%;
    padding-inline: 20px;
}
.about-container > .about-info-container > .about-info{
    width: 80%;
    line-height: 25px;
    margin-bottom: 90px;
}

.about-container > .about-info-container > .awards-showcase{
    width: 80%;
    display: flex;
    justify-content: space-evenly;

}
.about-container > .about-info-container > .awards-showcase img{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    cursor: pointer;
}

.about-container > .about-info-container > #about-info-line{
    height: 5px;
    width: 20%;
    background-color: black;
    float: right;
    margin-top: 50px;
    border-radius: 5px;
}

#page2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    width: 100%;
    height: 100%;
}

/* Responsive CSS starts from here */
@media screen and (max-width: 1500px) {
    
    .about-container > .about-info-container > .about-info{
        width: 90%;
    }
    .about-container > .about-info-container > .awards-showcase{
        width: 90%;
    }

    .about-container > .about-info-container > .awards-showcase img{
        width: 60px;
        aspect-ratio: 1;
    }
    
}

@media screen and (max-width: 1024px) {
    
    .about-container > .about-info-container > .about-info{
        width: 100%;
    }

    .about-container > .about-info-container > .awards-showcase{
        width: 100%;
    }

    .about-container > .about-info-container > .awards-showcase img{
        width: 50px;
    }
}

@media screen and (max-width: 740px){
    .about-container{
        grid-template-columns: 1fr;
    }

    .about-container > .about-info-container > .awards-showcase img{
        width: 10vw;
    }
}

@media screen and (max-width: 640px) {

    .about-container{
        position: relative;
        margin-block: 100px;
    }

}