/* main css */
#page1{
    text-align: center;
}

#page1 > .intro-container{
    max-width: 1000px;
    margin-inline: auto;
    padding-top: 80px;
    text-align: center;
}

#page1 > .intro-container h1{
    font-size: 4vw;
    font-weight: 500;
    line-height: 75px;
    margin-bottom: 30px;
}

#page1 > .intro-container > p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

#page1 > .intro-container > button{
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;

    position: relative;
    overflow: hidden;
    z-index: 1;
}

.ri-arrow-right-s-line{
    font-size: 20px;
    font-weight: bold;
    z-index: inherit;
}

#page1 > .intro-container > button::after{
    content: "";
    position: absolute;
    top: 0%;
    left: -10;
    height: 100%;
    width: 0%;
    background-color: orangered;
    border: none;
    border-radius: 25px;
    transition: width 400ms ease;
    z-index: -1;
}
#page1 > .intro-container > button:hover::after{
    content: "";
    width: 120%;
}

#page1 > #hero-image{
    margin-top: 30px;
}

#page1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* css for page 2 */
#page2{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    /* border: 2px solid red; */
}

.page2-grid-container{
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 10px;
}

#page2-grid-item-1 > h4{
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 500;
}

#page2-grid-item-1 > h2{
    font-size: 36px;
    font-weight: 500;
}

#page2-grid-item-1 > a{
    color: black;
    text-decoration: none;
    margin-top: 60px;
}
#page2-grid-item-1 > a > .ri-arrow-right-s-line{
    color: orangered;
}

#page2-grid-item-2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 130px;
}
#page2-grid-item-2 > p{
    margin-bottom: 60px;
}

/* page 2 grid container 2 */
.page2-grid-container2{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: auto;
    /* gap: 20px; */
    column-gap: 90px;
    row-gap: 50px;
}

.page2-grid-container2 img{
    margin-bottom: 20px;
}
.page2-grid-container2 h3{
    margin-bottom: 10px;
    font-size: 22px;
}


/* CSS for Page 3 */
#page3{
    width: 100%;
    height: 100%;
    padding-block: 100px;
    /* background-color: orange; */
}

#page3 > .cursor-pointer-circle{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.304);
    backdrop-filter: blur(2px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    z-index: 9;
}
#page3 > .cursor-pointer-circle > img{
    height: 100%;
    width: 100%;
    fill: white;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
}



/* Page 3 icon banner */
.icons-banner{
    /* background-color: red; */
    height: auto;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icons-container{
    min-width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 50px 20px;
}


.icons-banner .icons-container > div{
    height: 50px;
    width: 50px;
    /* background-color: black; */
    cursor: pointer;
    transition: transform 400ms ease;
}


.icons-banner > .icons-container > div > img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    background-position: center;
    background-size: cover;
}


/* CSS for Page 4 */
#page4{
    height: auto;
}

#page4 > .process-container{
    display: flex;
    gap: 20px;
}

#page4 > .process-container > .process-steps{
    width: 40%;
}

#page4 > .process-container > .process-steps > .flex{
    gap: 20px;
    margin-bottom: 40px;
}

#page4 .process-order{
    text-align: center;
    font-weight: bolder;
    font-size: 75px;
    font-style: italic;
    color: #E3E3E3;
    line-height: none;
}

#page4 .process-info{
    padding-right: 100px;
}
#page4 .process-info > h3{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 10px;
}


#page4 > .process-container > .process-image{
    width: 60%;
}
#page4 > .process-container > .process-image > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* CSS for page 5 */

#page5{
    width: 100%;
    height: 100%;
}

/* Responsive CSS starts from here */

@media screen and (max-width: 1024px) {
    #page2-grid-item-1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #page2-grid-item-2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-left: 0;
    }

    #page2-grid-item-2 > p{
        margin-top: 20px;
    }

    #page4 > .process-container > .process-steps{
        width: 50%;
    }

    #page4 > .process-container > .process-image{
        width: 50%;
    }

}

@media screen and (max-width: 750px) {

    #page4 > .process-container {
        flex-wrap: wrap;
    }

    #page4 > .process-container > .process-steps{
        width: 100%;
    }

    #page4 .process-info{
        padding-right: 0;
    }
    #page4 .process-info > h3{
        font-size: 20px;
    }

    #page4 > .process-container > .process-image{
        width: 100%;
        padding-bottom: 100px;
    }

    .icons-banner .icons-container > div{
        width: 40px;
        aspect-ratio: 1;
    }
}

@media screen and (max-width: 640px) {
    .page2-grid-container2{
        grid-template-columns: repeat(1, 1fr); 
    }

    .icons-banner .icons-container > div{
       width: 30px;
    }

    .icons-banner .icons-container {
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
    }
}