input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  font-size: larger;
}

#todo-header {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

button {
  cursor: pointer;
}

.delete-btn {
  color: red;
}

.bg-black {
  background-color: black;
  color: whitesmoke;
}

#todo-header > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tag-btn {
  font-size: x-small;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid white;
  outline: 2px solid transparent;
  transition: outline-color 200ms ease-in-out;
}
.tag-btn:hover {
  outline-color: gray;
}

#todo-header > div:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

select {
  font-size: medium;
  padding: 5px;
  font-weight: 600;
}

#add-task-btn,
#edit-task-btn {
  font-size: large;
  padding: 5px 8px;
  font-weight: bold;
  background-color: mediumslateblue;
  border: 3px solid white;
  border-radius: 7px;
  outline: 2px solid transparent;
  color: white;
  transition: outline-color 300ms ease-in-out, transform 300ms ease-in-out;
  will-change: transform;
}

#edit-task-btn {
  background-color: goldenrod;
}

#add-task-btn:hover,
#edit-task-btn:hover {
  outline-color: gray;
}

#add-task-btn:active {
  transform: scale(0.95);
}

.todo-container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: auto;
  border-top: 2px solid gainsboro;
  padding-top: 10px;
}

.todo-container h3 {
  font-size: x-large;
}

.todo-container > div {
  padding: 0.8rem;
}

.todo-container > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.todo-container > div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.todo-container > div:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.all-todos {
  width: 100%;
  /* max-width: 300px; */
}

/* style for todo card */
.todo-card {
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin-block: 1rem;
  padding: 10px;
  background-color: ghostwhite;
  max-width: 500px;
  transition: transform 300ms ease-in;
}

.todo-card > p {
  padding-block: 5px 10px;
}

.todo-card hr {
  margin-bottom: 10px;
}

.todo-card-foot > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.todo-card-foot > div:first-child {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.isEditingOn {
  /* transform: scale(1.2); */
  box-shadow: 10px 10px 10px gray;
  /* position: relative;
  z-index: 50; */
  opacity: 0.3;
}
