* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: cursive;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.text-center {
  text-align: center;
}

header {
  text-align: center;
  height: 50px;
  padding: 10px 50px;
  font-weight: 600;
  font-size: larger;
  width: 100%;
  background-color: gainsboro;
}

main {
  min-height: 650px;
  padding: 1.2rem;
  margin: 0;
}

footer {
  width: 100%;
  background-color: whitesmoke;
  font-size: large;
  border-top: 2px solid gainsboro;
}
