main{
  padding-block: 2rem;
  padding-inline: var(--inline-padding-value);
}

.cart-section{
  width: 100%;
}

.cart-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-header > h3{
  font-size: xx-large;
  text-transform: capitalize;
  width: 60%;
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}

.cart-header > .cart-header-total-item-count{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 20px;
  color: gray;
  overflow: hidden;
}

.cart-header > .cart-header-total-item-count > .total-item-count{
  border-right: 1px solid black;
  width: 50%;
  text-align: center;
  padding-right: 10px;
}

.cart-header > .cart-header-total-item-count > .total-qty-count{
  display: block;
  margin-left: 10px;
  text-align: center;
}

.cart-header > .cart-header-total-item-count span{
  color: black;
  font-weight: bold;
}

/* style for cart body */
.cart-body{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  min-height: 60vh;
}

.cart-body > .cart-product-lists{
  width: 60%;
  padding: 5px 10px;
}
.cart-body > .summary-bank{
  width: 25%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 30px lightslategray;
}
.cart-body > .summary-bank > h3{
  font-size: x-large;
  margin-bottom: 1rem;
  text-transform: capitalize;
  padding-bottom: 0.7rem;
  border-bottom: 0.5px solid grey;
}
.cart-body > .summary-bank > div{
  width: 100%;
}

.cart-body > .summary-bank > .price-detail-count{
  font-size: small;
  font-weight: bold;
  color: lightslategrey;
  text-transform: uppercase;
  margin-block: 1rem;
}

.cart-body > .summary-bank .price-base-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.cart-body > .summary-bank .price-base-total{
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  border-top: 0.5px solid grey;
  padding-top: 16px;
  font-weight: bold;
}

.cart-body > .summary-bank .price-base-value{
  font-weight: bold;
}

.cart-body > .summary-bank #place-order-btn{
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  color: whitesmoke;
  background-color: #FF3F6C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms ease, scale 200ms ease;
}
.cart-body > .summary-bank #place-order-btn:hover{
  background-color: #cf3e60;
}
.cart-body > .summary-bank #place-order-btn:active{
  scale: 0.95;
}

/* style for summary price discount & deductions */
#discounted-amount{
  color: #03a685;
}
#tax-deduction-amount{
  color: #ff3f6c;
}

.no-charges{
  color: #03a685;
}
.charges-applied{
  color: #ff3f6c;
}

/* Responsive Design using CSS */
@media (max-width: 1600px) {
  .cart-header > .cart-header-total-item-count{
    width: 25%;
  }
}

@media (max-width: 1210px) {
  .cart-header > .cart-header-total-item-count{
    width: 30%;
  }
  .cart-body > .summary-bank{
    width: 30%;
  }
}

@media (max-width: 950px){

  main{
    padding-inline: 1rem;
  }

  .cart-header > .cart-header-total-item-count{
    width: 35%;
    font-size: small;
  }

  .cart-body > .summary-bank{
    width: 35%;
  }
}

@media (max-width: 670px) {
  .cart-body{
    flex-direction: column;
  }

  .cart-body > .cart-product-lists{
    width: 100%;
  }
  .cart-body > .summary-bank{
    width: 80%;
    margin: auto;
  }

  .cart-header > h3{
    width: 40%;
  }
  .cart-header > .cart-header-total-item-count{
    width: 50%;
  }
}

@media (max-width: 547px){
  main{
    padding-inline: 5px;
  }

  .cart-header{
    padding: 5px 8px;
    border-bottom: 2px solid grey;
  }
  
  .cart-header > h3{
    border-bottom: none;
  }

  .cart-header > .cart-header-total-item-count{
    width: 58%;
    font-size: smaller;
  }
  .cart-body > .summary-bank{
    width: 90%;
  }
}

@media (max-width: 455px) {
  .cart-header > .cart-header-total-item-count{
    font-size: x-small;
    padding: 5px 10px;
  }
}