main{
  padding-block: 2rem;
  padding-inline: var(--inline-padding-value);
}

/* CSS for path-routemap section */
.path-routemap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.path-routemap .path-set > a{
  text-decoration: none;
  color: gray;
}
.path-routemap .path-set > a:hover{
  /* text-decoration: underline; */
  color: black;
}
.path-routemap .path-set > span{
  margin-inline: 10px;
  color: #5e5d5d;
}

.path-routemap .path-set:last-child > a {
  pointer-events: none; /* Disable interaction */
  font-weight: bold;
  color: black; /* Highlight the current page */
}

/* CSS for Product details section */
.product-details-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* max-width: 1400px; */
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
}

/* style for product image container */
.product-details-section > .product-detail-image-container{
  width: 100%;
  height: 100%;
  max-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* .product-details-section > .product-detail-image-container > figure{
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
} */

.product-details-section > .product-detail-image-container > img{
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  /* max-height: 70vh; */
  object-fit: cover;
  /* background-position: center; */
  cursor: crosshair;
  transition: transform 400ms ease;
  will-change: transform;
}

.product-details-section > .product-detail-image-container > img:hover{
  transform: scale(1.5);
}

/* style for product-detail-info container */
.product-details-section > .product-detail-info-container{
  border-left: 2px solid gray;
  padding: 20px;
}

.product-details-section > .product-detail-info-container > .brand-container,
.product-details-section > .product-detail-info-container > .category-container{
  margin-block: 8px;
  color: #352f2f;
}

.product-details-section >.product-detail-info-container > .price-container{
  margin-block: 1.2rem;
}

.product-details-section > .product-detail-info-container > .price-container .discounted-price{
  font-size: xx-large;
  font-weight: bolder;
}

.product-details-section > .product-detail-info-container > .price-container .actual-price{
  margin-inline: 15px;
  font-size: larger;
  font-weight: 500;
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.498);
}

.product-details-section > .product-detail-info-container > .price-container .discount-percent{
  color: #388e3c;
  font-weight: 700;
  white-space: nowrap;
}

.product-details-section > .product-detail-info-container > .product-actions{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-block: 1.5rem;
}

.product-details-section .product-actions > .quantity-box{
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 150px;
  overflow: hidden;
}
.product-details-section .quantity-box > button{
  font-size: larger;
  font-weight: bold;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.product-details-section .quantity-box > #qty-decrement:active{
  background-color: rgba(255, 166, 0, 0.685);
}
.product-details-section .quantity-box > #qty-increment:active{
  background-color: rgba(0, 128, 128, 0.694);
}

.product-details-section .quantity-box > input[type='number']{
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  border: none;
  /* outline-color: steelblue; */
  padding: 5px 8px;
}
.product-details-section .quantity-box > input[type='number']::-webkit-inner-spin-button{
  -webkit-appearance: none;
}


.product-details-section > .product-detail-info-container > .product-actions > button{
  padding: 10px 20px;
  border: 1px solid rgba(128, 128, 128, 0.301);
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  background-color: #18181add;
  color: aliceblue;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  transition-property: background-color, color, scale;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.product-details-section > .product-detail-info-container > .product-actions > .add-to-cart-btn:hover{
  background-color: transparent;
  color: black;
}

.product-details-section > .product-detail-info-container > .product-actions > .add-to-cart-btn:active{
  scale: 0.9;
}

.product-details-section > .product-detail-info-container > .product-actions > .wishlist-btn {
  border-radius: 50%;
  padding: 10px;
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details-section > .product-detail-info-container > .product-actions > .wishlist-btn:hover {
  background-color: crimson;
  color: #fff;
}

.product-details-section > .product-detail-info-container > .product-actions > .wishlist-btn:active {
  scale: 0.9;
}

.product-details-section > .product-detail-info-container > .product-description-container p{
  margin-block: 1rem;
}

.product-details-section > .product-detail-info-container > .product-description-container h3{
  margin-top: 2rem;
}

/* CSS for Similar Products Section */
.similar-products-section{
  margin: auto;
  margin-block: 2rem;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 0;
}

.similar-products-section > .similar-products-header{
  padding: 5px 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.similar-products-section > .similar-products-header > span{
  font-size: 1.8rem;
  font-weight: bold;
}
.similar-products-section > .similar-products-header > a{
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  transition: background-color 200ms ease-out;
}
.similar-products-section > .similar-products-header > a:hover{
  background-color: black;
  color: whitesmoke;
}

.similar-products-section > .similar-products-body{
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Responsive CSS */
@media (max-width: 1070px){
  main{
    padding-inline: 1rem;
  }
}

@media (max-width: 975px){
  .product-details-section > .product-detail-info-container > .product-actions{
    flex-wrap: wrap;
    gap: 1rem;
  }
  .product-details-section > .product-detail-info-container > .product-actions > button{
    padding: 8px 15px;
    font-size: small;
  }
}

@media (max-width: 768px){
  .product-details-section{
    grid-template-columns: 1fr;
  }

  .product-details-section > .product-detail-info-container{
    border-left: 0;
    border-top: 2px solid gray;
  }

  .product-details-section > .product-detail-image-container{
    padding: 20px;
  }

  /* style for similar products section */
  .similar-products-section > .similar-products-header{
    padding-inline: 10px;
  }

  .similar-products-section > .similar-products-body{
    padding-inline: 0;
    justify-content: center;
  }
}

@media (max-width: 375px){
  .path-routemap .path-set > span{
    margin-inline: 8px;
  }
}